/* Generics */

body {
    margin: 0;
    background-color: white;
}


/*Header*/
.pattern {
    background-color: #4ea0ff;
    height: 200px;
    background-image: url(../img/pattern.png);
    
}

.logo {
    width: 250px;
    margin-top: 100px;
    margin-left: 5px;
}


/*Main*/

.content {
    margin-left: 5px;
}

h1 {
    margin-bottom: 0;
}


.grey {
    color: #878787;
}

#blue {
    color: #3cb4e7;
}

#style1 {
    font-size: 12px;
}

.yellow {
    background-color: yellow;
}

figcaption {
    font-size: 12px;
}

/*Table style*/

table {
    text-align: left;
    border-spacing: 0;
}

.cella1 {
    width: 25%;
}

th {
    background-color: #20a9e5;
    color: white;
}

.dispari {
    background-color: #b1e5f2;
}


/* Footer*/

h3 {
    color: grey;
}

.banner-style {
    width: 200px;
    height: 150px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-size: contain;
    padding: 10px;
}

#banner1 {
    background-image: url(../img/monitor.jpg)
}

#banner2 {
    background-image: url(../img/graph.jpg);
}

